h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

ul,
li {
    font-family: 'Roboto', sans-serif;
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation li {
    display: table-cell;
    padding: 10px;
}

.second-article ul {
    margin: 0;
    padding: 0;
}

.second-article li {
    list-style-position: inside;
}