/* Aciklama Satirlari */

body{
    background-color: black;
    color: white;
    font-family: 'Syne Tactile', cursive;
}

h2 {
    color: purple;
    font-size: 64px;
    text-transform: uppercase;
}

p {
    font-size: 40px;
}

ul {
    color: blue;
}